
#a{
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}

#b {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#c {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#d {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#e {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#f {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#g {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#h {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#i {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
body {
  background-image: url('snowBackground.jpeg');
  background-repeat: no-repeat;
  background-size: 1050px;

}
img {
  position: absolute;
  left: 0px;
  top: 450px;
}
p {
    position: absolute;
    top: 500px;
}
#link1 {
    font-family: "Avenir";
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    position: absolute;
    right: 50px;
    bottom: 75px;
    text-decoration: none;
    color: black;
}
#link2 {
    font-family: "Avenir";
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    position: absolute;
    right: 50px;
    bottom: 35px;
    text-decoration: none;
    color: black;
}
#demo {
    font-family: "Avenir";
}