
#a{
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}

#b {
width: 50px;
height:66px;
 background-image:url('reindeer.png');
position:fixed;
    
}
#c {
width: 50px;
height:66px;
 background-image:url('reindeer.png');
position:fixed;
    
}
#d {
width: 50px;
height:66px;
 background-image:url('reindeer.png');
position:fixed;
    
}
