
#a{
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}

#b {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#c {
width: 50px;
height:66px;
background-image:url('reindeer.png');
position:fixed;
    
}
#d {
width: 50px;
height:66px;
 background-image:url('reindeer.png');
position:fixed;
    
}
body {
  background-image: url('snowBackground.jpeg');
  background-repeat: no-repeat;
  background-size: 1050px;

}
img {
  position: absolute;
  left: 0px;
  top: 450px;
}
p {
    position: absolute;
    top: 500px;
}
